/* Write your CSS here */
.image {
  height: 30px;
  width: 30px;
}
.logo-headingg {
  display: flex;
  align-items: center;
}
.bg-container {
  background-color: #161625;
}
.heading {
  color: #ffffff;
}
